/*-------------Estilo LOGO*/
.logo{
    width: 10rem;
    height: 10rem;
}
/*------- Estilo Carrusel*/
.contenedorCarrusel{
    display: flex;
    flex-direction: row;
#carouselExampleCaptions{
    width: 40rem;
    height: 40rem;
    margin: 5rem;

    .boton{
        color: black;
        background-color: black;
    }
}
}

.empresa{
    .tituloAbogados{
        padding-bottom: 2rem;
    }
    width: 40rem;
    height: 40rem;
    padding: 5rem;
    padding-top: 10rem;
    text-align: justify;
}

@media (max-width: 768px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 25rem;
        height: 25rem;
        margin: 2rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 25rem;
        height: 45rem;
        padding: 2rem;
        padding-top: 2rem;
    }
    }
}
    
@media(max-width: 992px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 40rem;
        height: 40rem;
        margin: 5rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 40rem;
        height: 35rem;
        padding: 3rem;
        padding-top: 3rem;
    }
    }
}
@media(max-width: 415px)
{
    .contenedorCarrusel
    {
        flex-direction: column;
    #carouselExampleCaptions{
        width: fit-content;
        height: fit-content;
    }
    
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        padding-top: 1rem;
    }
}
}