/*--------------------------ESTILOS AREAS DE PRACTICA*/
.areasPractica{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .capractica-right, .capractica-left{
    padding-top: 5rem;
    padding-left: 5rem;
    text-align: justify;
    width: 60rem;
    box-shadow: 10px 5px 5px rgb(152, 163, 163);
    
}
.imgareas{
    padding-right: 2rem;
    padding-top: 5rem;
}
}
.tituloAP{
    padding: 3rem;
    color: rgb(26, 109, 124);
    text-decoration: underline;
    
}
@media (max-width: 768px){
    .areasPractica{
        display: flex;
        flex-direction: column;
        .capractica-right, .capractica-left{
        padding:0px;
        width: 1rem;
        height: fit-content;        
    }
    .imgareas{
        padding:0px;
    }
    }
}
    .tituloAP{
        padding: 3rem;
        color: rgb(26, 109, 124);
        text-decoration: underline;
        
    }
@media(max-width: 992px){
    .areasPractica{
        padding: 2rem;
        .capractica-right, .capractica-left{
        padding: 0rem;
        padding-top: 3rem;
        width: 30rem;

        
    }
    .imgareas{
        padding:0px;
    }
    }
}
@media(max-width: 415px){
    .areasPractica{
        padding: 1rem;
        .capractica-right, .capractica-left{
        padding: 0rem;
        padding-top: 3rem;
        width: 20rem;

        
    }
    .imgareas{
        padding:1rem;
        width: 20rem;
    }
    } 
}