/*---------------------ESTILO SOCIOS----*/


.sociosFundadores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;

.imgSocioRK, .imgSocioG, .imgSocioM, .noVisible{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
}
.imgSocioRK{
    background-image: url(./img/nicolas.jpeg);
}
.imgSocioM{
    background-image: url(./img/franco.jpeg);

}
.imgSocioG{
    background-image: url(./img/maximo.jpeg);

}
}
@media (max-width: 768px){
    .sociosFundadores{
    flex-direction: column;
}
}