*{
    margin: 0;
    padding: 0;
}

/*-------------Estilo LOGO*/
.logo{
    width: 10rem;
    height: 10rem;
}
/*------- Estilo Carrusel*/
.contenedorCarrusel{
    display: flex;
    flex-direction: row;
#carouselExampleCaptions{
    width: 40rem;
    height: 40rem;
    margin: 5rem;

    .boton{
        color: black;
        background-color: black;
    }
}
.empresa{
    .tituloAbogados{
        padding-bottom: 2rem;
    }
    width: 40rem;
    height: 40rem;
    padding: 5rem;
    padding-top: 10rem;
}
.parrafoAbogados{
    text-align: justify;
}
}
.lead{
    text-align: justify;
}
@media (max-width: 768px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 25rem;
        height: 25rem;
        margin: 2rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 25rem;
        height: 45rem;
        padding: 2rem;
        padding-top: 2rem;
    }
    }
}
    
@media(max-width: 992px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 40rem;
        height: 40rem;
        margin: 5rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 40rem;
        height: 35rem;
        padding: 3rem;
        padding-top: 3rem;
    }
    }
}



/******* ESTILOS FOOTER*/
.footer {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top, rgb(19, 87, 87), white);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    padding-top: 2rem;

}
    .cajaContacto, .cajaSede, .cajaMapa{
        padding: 2rem;
    }


.contactoInicio, .sede{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;

}
.linkedin{
    height: 20px;
    width: 20px;
    border-radius: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out;

}
.linkedin:hover{
    border-radius: 2rem;
    transform: scale(1.3);
}
.instagram{
    height: 20px;
    width: 20px;
    border-radius: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.instagram:hover{
    border-radius: 2rem;
    transform: scale(1.3);
}
.facebook{
    height: 20px;
    width: 20px;
    border-radius: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.facebook:hover{
    border-radius: 2rem;
    transform: scale(1.3);
}
.twitter{
    height: 20px;
    width: 20px;
    border-radius: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.twitter:hover{
    border-radius: 2rem;
    transform: scale(1.3);
}

@media (max-width: 768px){
    .footer{
    flex-direction: column;
}
}

/*--------------------------ESTILOS PAGINA CONTACTO*/

.contacto{
    height: 5rem;
    width: 5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}
.contacto:hover{
    border-radius: 2rem;
    transform: scale(1.8);
}



/*--------------------------ESTILOS AREAS DE PRACTICA*/
.areasPractica{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .capractica-right, .capractica-left{
    padding-top: 5rem;
    padding-left: 5rem;
    text-align: justify;
    width: 60rem;
    box-shadow: 10px 5px 5px rgb(152, 163, 163);
    
}
.imgareas{
    padding-right: 2rem;
    padding-top: 5rem;
}
}
.tituloAP{
    padding: 3rem;
    color: rgb(26, 109, 124);
    text-decoration: underline;
    
}
@media (max-width: 768px){
    .areasPractica{
        display: flex;
        flex-direction: column;
        .capractica-right, .capractica-left{
        padding:0px;
        width: 1rem;
        height: fit-content;        
    }
    .imgareas{
        padding:0px;
    }
    }
}
    .tituloAP{
        padding: 3rem;
        color: rgb(26, 109, 124);
        text-decoration: underline;
        
    }
@media(max-width: 992px){
    .areasPractica{
        padding: 2rem;
        .capractica-right, .capractica-left{
        padding: 0rem;
        padding-top: 3rem;
        width: 30rem;

        
    }
    .imgareas{
        padding:0px;
    }
    }
}

/*---------------------ESTILO SOCIOS----*/


.sociosFundadores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;

.imgSocioRK, .imgSocioG, .imgSocioM{
    background-position: center (down);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
}
.imgSocioRK{
    background-image: url(./img/nicolas.jpeg);
}
.imgSocioM{
    background-image: url(./img/franco.jpeg);

}
.imgSocioG{
    background-image: url(./img/maximo.jpeg);

}
}
@media (max-width: 768px){
    .sociosFundadores{
    flex-direction: column;
}
}

