*{
    margin: 0;
    padding: 0;
}


/*-------------Estilo LOGO*/
.logo{
    width: 10rem;
    height: 10rem;
}
@media (max-width: 768px){
.logo{
    width: 5rem;
    height: 5rem;
}
}
@media (max-width: 1024px){
.logo{
    width: 7rem;
    height: 7rem;
}
}

@media(max-width: 415px){
    .logo{
        width: 5rem;
        height: 5rem;
    }
}
/*------- Estilo Carrusel e inicio en genenral*/
.contenedorCarrusel{
    display: flex;
    flex-direction: row;
#carouselExampleCaptions{
    width: 40rem;
    height: 40rem;
    margin: 5rem;

    .boton{
        color: black;
        background-color: black;
    }
}
}
.botonSaber, .botonContacto{
    text-decoration: none;
    color: black;
}

.empresa{
    .tituloAbogados{
        padding-bottom: 2rem;
    }
    width: 40rem;
    height: 40rem;
    padding: 5rem;
    padding-top: 10rem;
    text-align: justify;
}
.parrafoAbogados, .lead{
    font-family: 'Roboto', sans-serif;
}


@media (max-width: 768px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 25rem;
        height: 25rem;
        margin: 2rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 25rem;
        height: 45rem;
        padding: 2rem;
        padding-top: 2rem;
    }
    }
}
    
@media(max-width: 992px){
    .contenedorCarrusel{
        flex-direction: column;
    #carouselExampleCaptions{
        width: 40rem;
        height: 40rem;
        margin: 5rem;
    }
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: 40rem;
        height: 35rem;
        padding: 3rem;
        padding-top: 3rem;
    }
    }
}
@media(max-width: 415px)
{
    .contenedorCarrusel
    {
        flex-direction: column;
    #carouselExampleCaptions{
        width: fit-content;
        height: fit-content;
    }
    
    .empresa{
        .tituloAbogados{
            padding-bottom: 2rem;
        }
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        padding-top: 1rem;
    }
}
}


@import"areaspractica";
@import "socios";
@import "contacto";
@import "footer";